.js
{
    background-image: url("https://t4.ftcdn.net/jpg/04/93/66/85/360_F_493668569_jnWjXervcMN9X9Ucib2N2B4lbZspeAFX.jpg");
    height: 100vh;
    background-size: cover;
    text-align: center;
    padding-top: 250px;
}

.heading
{
    color:white;
    font-size: xx-large;
    font-weight: bolder;
}

.buttons
{
    border-radius: 12px !important;
}